
h2 {
    color: #07357c;
    margin-bottom: 1.5rem;
    font-weight: 300;
}

label {
    font-weight: 300;
    display: block;
    margin-bottom: 0.5rem;
    color: #333;
}

input[type="number"] {
    width: 300px;
    padding:  0.6rem;
    border: 2px solid #d0d8e0;
    font-size: 1rem;
    background-color: #fff;
    transition: border-color 0.3s ease;
}

input[type="number"]:focus {
    border-color: #0099ff;
    outline: none;
    background-color: #f0faff;
}

.erro-input {
    border-color: red !important;
    background-color: #f8a7a7;
}

button {
    width: 320px;
    padding: 1rem;
    font-size: 1rem;
    margin-top: 20px;
    font-weight: bold;
    background-color: #0099ff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0077cc;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

p {
    margin-top: 1.5rem;    
    padding: 0;
    color: #07357c;
}